.custom-control-panel {
  min-width: 200px;
  background-color: #00000070;
  font-size: 0.8rem;
  color: #fff;
  padding: 12px;
  box-sizing: border-box;

  .custom-control-panel-row {
    margin-bottom: 12px;

    .input-range__label--max,
    .input-range__label--min {
      display: none;
    }
  }
}
