.camera-button {
  position: absolute;
  bottom: 30px;
  right: 24px;
}

.planet-list {
  padding-left: 0;
  max-height: 200px;
  overflow: auto;

  a {
    text-decoration: none;
    li {
      color: #000;
      list-style: none;
      padding: 12px 0;
      border-bottom: 1px solid #000;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
